@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=BenchNine:wght@300;400;700&family=Gruppo&family=Marcellus&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Syncopate:wght@400;700&display=swap");

@layer components {
  .text-dark-autofill {
    -webkit-text-fill-color: #fff;
  }
  .text-light-autofill {
    -webkit-text-fill-color: #000;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  @font-face {
    font-family: "Supply";
    font-style: normal;
    font-weight: 200;
    src: url(/fonts/Supply-UltraLight.otf);
  }
  @font-face {
    font-family: "Supply";
    font-style: normal;
    font-weight: 300;
    src: url(/fonts/Supply-Light.otf);
  }
  @font-face {
    font-family: "Supply";
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/Supply-Regular.otf);
  }
  @font-face {
    font-family: "Supply";
    font-style: normal;
    font-weight: 500;
    src: url(/fonts/Supply-Medium.otf);
  }
  @font-face {
    font-family: "Supply";
    font-style: normal;
    font-weight: 600;
    src: url(/fonts/Supply-Bold.otf);
  }
  @font-face {
    font-family: "Gruppo";
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/Gruppo-Regular.ttf);
  }
  @font-face {
    font-family: "Benchnine";
    font-style: normal;
    font-weight: 300;
    src: url(/fonts/Benchnine-Light.ttf);
  }
  @font-face {
    font-family: "Benchnine";
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/Benchnine-Regular.ttf);
  }
  @font-face {
    font-family: "Benchnine";
    font-style: normal;
    font-weight: 600;
    src: url(/fonts/Benchnine-Bold.ttf);
  }
  @font-face {
    font-family: "Syncopate";
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/Syncopate-Regular.ttf);
  }
  @font-face {
    font-family: "Syncopate";
    font-style: normal;
    font-weight: 600;
    src: url(/fonts/Syncopate-Bold.ttf);
  }
}

.text-supply {
  font-family: Supply;
}

.gruppo-regular {
  font-family: "Gruppo", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.almarai-light {
  font-family: "Almarai", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.almarai-regular {
  font-family: "Almarai", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.almarai-bold {
  font-family: "Almarai", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.almarai-extrabold {
  font-family: "Almarai", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.benchnine-light {
  font-family: "Benchnine", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.benchnine-regular {
  font-family: "Benchnine", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.benchnine-bold {
  font-family: "Benchnine", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.syncopate-regular {
  font-family: "Syncopate", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.syncopate-bold {
  font-family: "Syncopate", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.marcellus-regular {
  font-family: "Marcellus", serif;
  font-weight: 400;
  font-style: normal;
}

.parallax {
  overflow: hidden;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.link-technologies {
  @apply benchnine-regular text-2xl items-center whitespace-nowrap hover:text-sky-500 duration-200 h-fit;
}

.link-footer {
  @apply benchnine-regular text-2xl items-center whitespace-nowrap hover:text-black duration-200 h-fit;
}

/* .btn-shine-light {
  background: linear-gradient(to right, #5f5f5f 0, #000000 10%, #5f5f5f 20%);
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  font-size: 16px;
  text-decoration: none;
  white-space: nowrap;
} */

.btn-shine {
  background: linear-gradient(
    to right,
    #5f5f5f 0,
    rgb(161, 161, 161) 10%,
    #5f5f5f 20%
  );
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  font-size: 16px;
  text-decoration: none;
  white-space: nowrap;
}

@keyframes shine {
  0% {
    background-position: -200px;
  }
  100% {
    background-position: 200px;
  }
}

.cursor {
  display: inline-block;
  animation: blink-caret 0.75s step-start infinite;
}

@keyframes blink-caret {
  from,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.text-focus-in {
  animation: text-focus-in 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

.tracking-in-expand {
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.scrollbar-show-hover {
  -ms-overflow-style: none;
}

.scrollbar-show-hover:hover::-webkit-scrollbar-thumb:vertical {
  @apply dark:bg-zinc-600 bg-zinc-400;
}

.scrollbar-show-hover::-webkit-scrollbar {
  @apply h-1.5 w-1.5 rounded-xl bg-transparent;
}

.scrollbar-show-hover::-webkit-scrollbar-thumb:vertical {
  @apply h-[1px] w-[1px] rounded-xl bg-transparent;
}

.tilt {
  display: block;
  transition: box-shadow 0.1s, transform 0.1s;
}

.effect-3 {
  @apply pt-2.5 pb-[5px] overflow-hidden relative cursor-pointer;
}

.effect-3::before {
  content: "";
  transition: transform 0.3s ease;
  @apply absolute left-0 bottom-0 w-full h-0.5 bg-[#0EA5E9] -translate-x-full;
}

.effect-3:hover::before {
  @apply translate-x-0;
}

.carousel-item {
  transition: 0.6s all linear;
  @apply flex max-lg:flex-col gap-6 left-0 overflow-hidden absolute shrink-0 items-center w-full;
}

.carousel-item-info {
  @apply flex justify-center flex-col max-lg:items-center max-lg:max-w-full order-1 m-auto ml-0 max-w-[50%];
}

.carousel-item-image {
  transition: 0.6s all ease-in-out;
  @apply order-2 self-end max-lg:self-center relative translate-x-[200%];
}

.carousel-item-subtitle {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 3px;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s all ease-in-out;
  @apply dark:text-neutral-500 max-lg:text-xs translate-y-1/4 uppercase font-bold text-sm;
}

.carousel-item-title {
  visibility: hidden;
  transition: 0.6s all ease-in-out;
  @apply mt-4 translate-y-1/4 text-4xl  max-lg:text-3xl opacity-0 almarai-bold text-[#2c2c2c] dark:text-[#D7D7D7];
}

.carousel-item-description {
  visibility: hidden;
  transition: 0.6s all ease-in-out;
  font-family: "Open Sans", sans-serif;
  line-height: 22px;
  @apply my-9 mt-4 opacity-0 max-lg:text-lg max-lg:text-center dark:text-[#737373] text-xl translate-y-1/4;
}

.carousel-item-btn {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 3px;
  text-decoration: none;
  visibility: hidden;
  transition: 0.6s all ease-in-out;
  @apply w-[35%] max-lg:w-fit hover:text-sky-500 dark:hover:text-sky-500 text-[#2c2c2c] dark:text-zinc-400 opacity-0 font-bold uppercase text-lg m-0 translate-y-1/4;
}

.carousel-icon {
  @apply fill-slate-600 dark:fill-slate-400 w-4 inline-block;
}

.carousel-arrow-right {
  @apply cursor-pointer inline-block absolute right-0 px-2 py-1 bg-slate-100 rounded-full border border-zinc-400 dark:border-zinc-600 dark:bg-zinc-800 hover:bg-slate-200 duration-200;
}

.carousel-arrow-left {
   @apply cursor-pointer inline-block absolute left-0 px-2 py-1 bg-slate-100 rounded-full border border-zinc-400 dark:border-zinc-600 dark:bg-zinc-800 hover:bg-slate-200 duration-200;
}

.active {
  @apply flex z-10 visible;
}

.active .carousel-item-subtitle,
.active .carousel-item-title,
.active .carousel-item-description,
.active .carousel-item-btn {
  transition: 0.6s all ease-in-out;
  @apply translate-y-0 opacity-100 visible;
}

.active .carousel-item-image {
  transition: 0.6s all ease-in-out;
  @apply translate-x-0;

}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  @apply text-light-autofill py-1 dark:text-dark-autofill autofill:shadow-[inset_0_0_0px_1000px_#ffffff] dark:autofill:rounded-none dark:autofill:shadow-[inset_0_0_0px_1000px_#18181b];
}

.input-theme {
  @apply dark:bg-[#181818] ring-zinc-400 dark:ring-[#313131] border border-zinc-300 dark:border-[#313131] shadow-md dark:shadow-[#191919];
}

.input {
  @apply w-full rounded px-1 py-2 text-base dark:text-white bg-transparent outline-none placeholder:text-zinc-500 dark:placeholder:text-neutral-200 disabled:cursor-not-allowed gruppo-regular;
}

.textarea-theme {
  @apply dark:bg-[#181818] ring-zinc-400 dark:ring-[#313131] border border-zinc-300 dark:border-[#313131] shadow-md dark:shadow-[#191919];
}

.textarea {
  @apply w-full rounded px-4 p-2 text-base dark:text-white bg-transparent outline-none placeholder:text-zinc-500 dark:placeholder:text-neutral-200 disabled:cursor-not-allowed gruppo-regular;
}